doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title QR code 
    link(rel="stylesheet", href="./style.css")
  body
    .component 
      .card 
        img.card__image(src="./images/image-qr-code.png", alt="qr")
        h1.card__header Improve your front-end skills by building projects
        p.card__text Scan the QR code to visit Frontend Mentor and take your coding skills to the next level